.chat-wrapper{
    width: 100%;
    height: 100vh;

}
.chat-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat-content{
        display: flex;
        height: 100%;
        flex-grow: 1;
        align-items: stretch;
    
}

.connection-name{
    position: relative;
    border-radius: 0px 0px 10px 10px;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 10px 40px;
    

}
.chat-footer{
    width: 100%;
    height: auto;
    background-color: var(--gray);
    padding: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
}
.chat-box{
    display: flex;
    height: 100%;
    flex-direction: column;
    
}
.message-box{
    height: 100%;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    border: solid 2px var(--gray);
}

.info-box{
        height: fit-content;
        width: 30%;
        padding: 10px;
        margin: 0px 20px 0px 20px;
        background-color: #091227;
        border-radius: 10px;
    
}
.display-tags{
    display: inline-block;
    height: fit-content;
    padding: 1px 5px;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    background-color: var(--gray);
}
.chat-display{
    width: auto;
    height: 79.5vh;
    overflow: scroll;
    overflow-x: hidden;
    /* flex-grow: 1; */
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.chat-display::-webkit-scrollbar{
    width: 5px;
    
}
.chat-display::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 10px;
}
.rec-text{
    background-color: var(--green);
    float: left;
    height: fit-content;
    padding: 7px 10px;
    width: fit-content;
    max-width: 70%;
    font-size: 14px;
    color: white;
    text-align: left;
    border-radius: 10px 10px 10px 0px;
    margin: 7px auto 7px 0px;
    /* margin-right: auto; */
    
    

}

.sen-text{
    background-color: var(--gray);
    float: right;
    margin: 7px 0px 7px auto;
    height: fit-content;
    padding: 7px 10px;
    width: fit-content;
    max-width: 70%;
    font-size: 14px;
    color: white;
    text-align: left;
    border-radius: 10px 10px 0px 10px;

}
.chat-input{
    /* border: solid; */
    padding: 10px;
    width: auto;
    font-size: 14px;
    
    
    }
.chat-input input{
    border-radius: 10px;
   padding: 15px;
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   
   background-color: var(--gray);
}
.chat-input button{
    background-size:20px;
    background-repeat: no-repeat;
    background-image: url(./send.png) ;
    background-position: 17px;
    border: none;
    border-radius: 10px;
    background-color: var(--green);
    height: 050px;
    width: 50px;
    font-size: 20px;
}
.chat-input button:hover{
    cursor: pointer;
}

.tooltip-container{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--green);
    border: solid var(--gray);
    visibility: hidden;
    width: 200px;
    border-radius: 10px;
    
}

.tooltip-container > div{
    padding: 10px;
    display: flex;
}

.tooltip-container::before{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid 8px;
    border-color: transparent transparent var(--green) transparent;
}

.receiver-name{
    width: fit-content;
    margin: auto;
}
.receiver-name:hover{
    text-decoration: underline;
}
.receiver-name:hover .tooltip-container{
    visibility: visible;

    
}
@media only screen and (max-width: 1440px){
   
    .chat-box{
        
    }
    
}
@media only screen and (max-width: 1024px){
    
    .chat-box{
    
    }

}
@media only screen and (max-width: 768px){
    
   
}
@media only screen and (max-width: 450px){
    .chat-box{
        
        width: 100%;
    }
    .message-box{
        width: auto;
    }
}