.white-board{
    padding: 10px;
    border: solid 2px var(--gray);
    background-color: var(--black);
    display: flex;
    flex-grow: 1;
    flex-direction: column
}
canvas:hover{
    cursor:url('./feather-pointer.cur') 0 30, auto;
}
#color-n-reset{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#psuedo-colorwheel{
    background-color: #ffffff;
    border: none;
    outline: none;
    padding: 0px;
    border-radius:40px ;
    height: 50px;
    width: 50px;
    border: solid;
    border-width: 5px;
    border-color: var(--gray);
    margin-left: 20px;
    margin-right: 20px;
}
#psuedo-colorwheel:hover{
    cursor: pointer;
}
#colorwheel{
    width: 0px;
    margin-bottom: 25px;
    visibility: hidden;
    
}
#reset{
    margin-left: 20px;
    margin-right: 20px;
height: 43px;
width: 43px;
color: white;
background-color: var(--gray);
font-size: 30px;
border-radius: 40px;
background-image: url(./delete.png);
background-repeat: no-repeat;
background-size:23px;
background-position: center;
}
#reset:hover{
    cursor: pointer;
}
@media only screen and (max-width: 1440px){
    .white-board{
        width: 40%;


    }
    
} @media only screen and (max-width: 1024px){
    .white-board{
        width: 40%;

    }
    
}
@media only screen and (max-width: 768px){
    .white-board{
        width: 100%;

    }
}
@media only screen and (max-width: 450px){
    .white-board{
        display: none;

    }
}